
@font-face {
  font-family: 'ErasITC-Demi';
  src: url('ErasITC-Demi.eot?#iefix') format('embedded-opentype'),  url('ErasITC-Demi.woff') format('woff'), url('ErasITC-Demi.ttf')  format('truetype'), url('ErasITC-Demi.svg#ErasITC-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}
