
@font-face {
  font-family: 'ErasITC-Bold';
  src: url('ErasITC-Bold.eot?#iefix') format('embedded-opentype'),  url('ErasITC-Bold.woff') format('woff'), url('ErasITC-Bold.ttf')  format('truetype'), url('ErasITC-Bold.svg#ErasITC-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
