
@font-face {
  font-family: 'Eras-Normal';
  src: url('Eras-Normal.eot?#iefix') format('embedded-opentype'),  url('Eras-Normal.woff') format('woff'), url('Eras-Normal.ttf')  format('truetype'), url('Eras-Normal.svg#Eras-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
